%btnStyle {
		height: 50px;
			background: orangered;
			border: none;
			padding: 0 10px;
			color: white;	
			border-top-right-radius: 100px;
			border-bottom-right-radius: 100px;
			cursor: pointer;
			&:hover {
				box-shadow: -1px 4px 9px 1px orangered;
				transition: .2s all ease-in-out;
			}
}
%logoStyle {
	width: 400px;
	position: relative;
		&::before {
			content: "";
			position: absolute;
			height: 109px;
			bottom: 0;
			background: url(../img/search-logo.svg) no-repeat 100% 100%;
			background-size: cover;
			width: 100%;
		}
}
%inputStyles {
				height: 50px;
				width: 450px;
				padding: 15px;
				border: 3px solid orangered;
				border-top-left-radius: 100px;
				border-bottom-left-radius: 100px;
				border-right:  none;
				outline: none;
				font-size: 20px;
				&::-webkit-input-placeholder,
				&:focus + label,
				&:not(:placeholder-shown) + label {
					opacity: 0;
					transition: all .2s ease-in-out;
					outline: none;
					border: none;
				}
}