@import "_variables.scss";
@import "_mixins.scss";

* {
	 margin: 0 0;
 	padding: 0 0;
 	box-sizing: border-box;
}
body {
	color: blue;
	font-size: 18px;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}
.header {
	&--advanced {
		height: 250px;
		border-bottom: 1px solid #8080800f;
	}
	&__title {
		display: flex;
		align-items: center;
		height: 150px;
		color: red;
		font-weight: 500;
		font-size: 26px;
	}
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 90px;
		&-menu {
			width: 100%;
			height: 50px;
			@extend %flexCenter;
			justify-content: flex-end;
			&__item {
				list-style-type: none;
				font-weight: 600;
				margin-left: 30px;
			}
			&__link {
				color: black;
				text-decoration: none;
				cursor: pointer;
				&:hover {
					@extend %titleColor;
				}
			}
		}
		&-logo {
			margin-right: 30px;
			@extend %flexCenter;
			justify-content: start;
			&__item {
				font-size: 28px;
				@extend %titleLogoStyle;
			}

		}
	}
		&-title {
	@extend %flexCenter;
		position: relative;
		&__item {
			@extend %titleLogoStyle;
		}
		&__sub {
			position: absolute;
			top: 90%;
			font-weight: 500;
			font-style:italic;
			 left: 58%;
			display: block;
		}
	}
}
.main {
	height: 100%;
	&-form {
		@extend %flexCenter;
		flex-direction: column;
		justify-content: space-evenly;
		height: 50vh;
		&.advanced {
			height: 100%;
			width: 100%;
			color: black;
		}
		&-search {
			&.pos {
				position: static;
				display: flex;
				justify-content: space-between;
				width: 100%;
				align-items: baseline;
			}
			.form-search {
					&-info {
					display: flex;
					flex-direction: column;
					justify-content: space-evenly;
					height: 500px;
					width: 100%;
					&-text {
						display: flex;
    		justify-content: space-between;
    		width: 910px;
					}
					&__desc {
						display: block;
						margin-top: 16px;
						&:first-child {
							margin-top: 0;
						}
					}
					.search-info {
						&-text {
							&__title {
								&:first-child {
									font-size: 22px;
									font-weight: 100;
								}
							}
						}
						&-block {
							display: flex;
							justify-content: space-evenly;
							@extend %advancedContentStyle;
							&__input {
								width: 100%;
								height: 35px;
								border: 1px solid rgba(129, 128, 128, 0.609);
								&:active,
								&:focus {
									border-color: rgb(0, 89, 255);
									outline: none;
								}
								&[type="text"] {
									padding-left: 10px;
								}
							}
							
							&__desc {
								span {
									&::before,
									&::after {
										display: inline-block;
										content: "";
									}
									&::before {
										content: "\201c";
									}
									&::after {
										content: "\201d";
									}
								}
							}
							
						}
						&-btn {
							display: flex;
							justify-content: flex-end;
							width: 670px;
							&__item {
								@extend %btnStyle;
								border-radius: 0%;
								background-color: rgb(17, 116, 245);
								width: 150px;
								&:hover {
									box-shadow: -1px 4px 9px 1px blue;
								}
							}
						}
					}
				}
			} 
			height: 50px;
			position: relative;
			display: flex;
			&__item {
				@extend %inputStyles;
			}
			&__btn {
				@extend %btnStyle;
			}
			&__label {
				&.img-placeholder {
					width: 36ch;
				}
				width: 30ch;
				font-family: monospace;
				font-size: 20px;
				position: absolute;
				padding-left: 15px;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				color: $textColor;
				border-right: 4px solid $cursorColor;
				white-space: nowrap;
				font-weight: bolder;
				overflow: hidden;
				animation: flashingCursor 0.75s infinite step-end, typingText 3s steps(30);
				&.animation-none {
				animation: none;
				position: static;
				transform: none;
				border-right: none;
				
			}
			}
			@keyframes flashingCursor {
				0% {
					border-color: $cursorColor;
				}
				50% {
					border-color: transparent;
				}
				100% {
					border-color: $cursorColor;
				}
			}
			@keyframes typingText {
				from {
					width: 0;
				}
			}
			
		}
		&-btns {
			&__item {
				@extend %btnStyle;
				&.advanced-btn {
				background-color: blue;
				border-radius: 0;
			}
				width: 200px;
				border-radius: 100px;
				margin-left: 30px;
			}
		}
		}
}

